body{
    font-family:'Exo', sans-serif;
    margin:0;
}
h1{
    font-size:50px;
}
h2{
    
    font-size:40px

}
.orange-highlight{

    color:orange;
}
p{
    color:dimgray;
}
.half-width
{
    width:40%;
    float:left;
    margin-left: 5%;
    padding-left:2px;

}
.half-width img
{
    width:100%;
    border-radius:2%;
}
.top-banner{
    background-image:url("images/top-banner.png");
    background-repeat:no-repeat;
}
section{
    height: 500px;
    margin-bottom:200px;
}
.link-button{
    text-decoration:none;
    background-color:tomato;
    color:white;
    padding:10px 20px 10px 20px;
    border-radius: 5px;
    font-weight:bold;/* bold=700 */
}

.dream-area{
    background-image:url("images/dream-bg.png");
    background-repeat:no-repeat;
    background-position:right;
}
.single-experience{
    
    box-shadow:10px 10px 40px gray;  
    /* 1st 2nd 3rd ===1st and 2nd used for bottom and right border 3rd is for spreading shadow  */
    border-radius: 2%;
    height: 60%;
    background: white;
}
.experience-area{
    background-image:url("images/exp-bg.png");
    background-repeat:no-repeat;
    background-position:left;

}
#first-experience{
    border-left: 7px solid;
    border-image:linear-gradient(rgb(235, 111, 28),rgb(105, 95, 194));
    border-image-slice:1;

}

#second-experience{
    border-left: 7px solid;
    border-image: linear-gradient(blue,cyan);
    border-image-slice:1;
}

footer p{
    text-align: center;
    font-size: 20px;
}