body{
    font-family:'Exo', sans-serif;
    margin:0;
}
h1{
    font-size:50px;
}
h2{
    
    font-size:40px

}
.orange-highlight{

    color:orange;
}
p{
    color:dimgray;
}
.half-width
{
    width:40%;
    float:left;
    margin-left: 5%;
    padding-left:2px;

}
.half-width img
{
    width:100%;
    border-radius:2%;
}
.top-banner{
    background-image:url("images/top-banner.png");
    background-repeat:no-repeat;
}
section{
    height: 500px;
    margin-bottom:200px;
}
.link-button{
    text-decoration:none;
    background-color:tomato;
    color:white;
    padding:10px 20px 10px 20px;
    border-radius: 5px;
    font-weight:bold;/* bold=700 */
}

.dream-area{
    background-image:url("images/dream-bg.png");
    background-repeat:no-repeat;
    background-position:right;
}